CDN_BASE_URL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_SSLMODE=
DB_USERNAME=
ENABLE_RUNTIME_MIGRATIONS=
ENVIRONMENT=
FRONTEND_URL=
HOST=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_EXPIRE=
JWT_SECRET=
S3_ACCESS_KEY_ID=
S3_BUCKET=
S3_ENDPOINT=
S3_KMS_KEY_ID=
S3_REGION=
S3_SECRET_ACCESS_KEY=
VITE_YMAPS_API_KEY=DATABASE_URL="postgres://postgres:postgres@localhost:5432/autogis"
